@model BBTD.Mvc.Models.BarcodeSlideshowData

<h1>Barcode slideshow</h1>

<p>Number of barcodes: @Model.DataCount</p>
<p>First barcode ID: @Model.BarcodeId</p>

@*
    <form asp-controller="Home" asp-action="BarcodeSlideshowPartial" data-ajax="true" data-ajaxmethod="GET" data-ajax-complete="#barcodeReceived">
    <input type="hidden" asp-for="BarcodeId" />
    <input type="submit" value="Start" class="btn btn-outline-primary" />
</form>

<img id="barcodePlaceholder" src="images/1x1-ffffffff.png" width="200" height="200" />
<img id="barcodePlaceholder" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
        //8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==" width="200" height="200" />
*@

<div>
    <img id="barcodePlaceholder" src="/images/1x1-ffffffff.png" width="200" height="200" />
</div>

<div>
    <a id="barcodeSlideshowStart" class="btn btn-outline-primary">Next barcode</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    <script>
        const imageBaseUrl = "/home/barcode";
        const hubUrl = "/messageHub";
        const messageMethod = "Reading";

        const imgEl = document.getElementById("barcodePlaceholder");
        const ids = [...Array(1000).keys()];
        let nextId = 1;

        const barcodeSlideNext = () =>
            imgEl.src = `${imageBaseUrl}/${ids[nextId++]}`;

        const onReceiveMessage = (id, isReadingCorrect) => {
            if (!!isReadingCorrect && id == (nextId - 1)) {
                console.log(`Id: ${id} read succesfully`);
                barcodeSlideNext();
            } else {
                console.error(`Id: ${id} reading failed`);
            }
        }

        const onDomContentLoaded = async (event) => {
            let signalrConn = new signalR.HubConnectionBuilder().withUrl(hubUrl).build();
            signalrConn.on(messageMethod, onReceiveMessage);

            let btnEl = document.getElementById("barcodeSlideshowStart");
            btnEl.addEventListener("click", barcodeSlideNext);

            try {
                await signalrConn.start();
                console.log("signalr connection started");
            } catch(err) {
                return console.error(err.toString());
            }

            barcodeSlideNext();
        }

        document.addEventListener("DOMContentLoaded", onDomContentLoaded);

    </script>
}