@model IEnumerable<BBTD.Mvc.Models.OutputDataFile>

<h1>Output Data</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "OutputDataDetails", new { name = item.Name }) |
                @Html.ActionLink("Delete", "OutputDataDelete", new { name = item.Name })
            </td>
        </tr>
        }
    </tbody>
</table>
